.auth__main{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $primary;
    background-image: $background;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.auth__box-container{
    background-color: azure;
    box-shadow: 0px 3px gray;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}

.auth__title{
    color:blueviolet;

}

.auth__input{
    color: green;
    border: 0;
    border-bottom: 1px solid gray;
    height: 20px;
    width: 100%;

    transition: border-bottom .3s ease;

    &:focus{
        outline: none;
        border-bottom: 1p solid pink;
    }
}

.auth__social-networks{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.auth__alert-error{
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}